---
import Card from "../components/Card.astro";
import Layout from "../layouts/Layout.astro";
import TimelineItem from "../components/TimelineItem.astro";
import Project from "../components/Project.astro";
import EXPERIENCES from "../assets/collections/experiences.json";
import PROJECTS from "../assets/collections/projects.json";

---

<Layout>
  <section id="home" class="flex flex-col">
    <article class="text-gray-950 dark:text-white text-pretty mx-auto">
      <h1 class="text-4xl md:text-6xl font-bold max-w-screen-sm">
        Bienvenido 👋, Soy Victorino Fernández
      </h1>
      <div class="flex flex-col gap-6 mt-8">
        <h2 class="font-bold text-xl sm:text-2xl">
          Encantado de ayudarte con:
        </h2>
        <div class="flex flex-col sm:flex-row gap-4 overflow-hidden relative">
          <Card className="card">
            <div
              class="rounded-full p-4 grid place-content-center bg-blue-50 text-blue-500 dark:bg-blue-950/30 dark:text-blue-700 w-fit"
            >
              <svg
                class="size-8"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 640 512"
                ><path
                  d="M128 32C92.7 32 64 60.7 64 96l0 256 64 0 0-256 384 0 0 256 64 0 0-256c0-35.3-28.7-64-64-64L128 32zM19.2 384C8.6 384 0 392.6 0 403.2C0 445.6 34.4 480 76.8 480l486.4 0c42.4 0 76.8-34.4 76.8-76.8c0-10.6-8.6-19.2-19.2-19.2L19.2 384z"
                ></path></svg
              >
            </div>
            <h2 class="font-semibold text-lg sm:text-xl md:text-2xl">
              Desarrollo Frontend
            </h2>
            <p class="text-gray-600 text-sm sm:text-base dark:text-gray-400">
              Creación de interfaces de usuario dinámicas y con capacidad de
              respuesta utilizando
              <span class="text-blue-700 dark:text-blue-500"
                >React, Angular and Astro</span
              >. Doy vida a tus diseños con código limpio, eficiente y y
              mantenible.
            </p>
          </Card>
          <Card className="card">
            <div
              class="rounded-full p-4 grid place-content-center bg-yellow-50 text-yellow-500 dark:bg-yellow-950/30 dark:text-yellow-700 w-fit"
            >
              <svg
                class="size-8"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
                ><path
                  d="M64 32C28.7 32 0 60.7 0 96l0 64c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-64c0-35.3-28.7-64-64-64L64 32zm280 72a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm48 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0zM64 288c-35.3 0-64 28.7-64 64l0 64c0 35.3 28.7 64 64 64l384 0c35.3 0 64-28.7 64-64l0-64c0-35.3-28.7-64-64-64L64 288zm280 72a24 24 0 1 1 0 48 24 24 0 1 1 0-48zm56 24a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z"
                ></path></svg
              >
            </div>
            <h2 class="font-semibold text-lg sm:text-xl md:text-2xl">
              Desarrollo Backend
            </h2>
            <p class="text-gray-600 text-sm sm:text-base dark:text-gray-400">
              Experiencia en la creación de aplicaciones de servidor robustas y
              escalables con Frameworks como <span
                class="text-yellow-700 dark:text-yellow-500"
                >Laravel y Spring Boot</span
              >. Me aseguro de crear aplicaciones seguras, eficientes, y sin
              problemas integradas con el frontend.
            </p>
          </Card>
        </div>
      </div>
    </article>
  </section>
  <section id="about" class="flex flex-col">
    <h2
      class="text-2xl md:text-4xl font-bold text-gray-950 dark:text-white mb-8"
    >
      Sobre mí
    </h2>
    <article class="flex flex-col md:flex-row gap-4 p-4">
      <Card className="text-gray-600 dark:text-gray-400 h-fit">
        <div class="flex flex-col gap-2 text-sm sm:text-base">
          <h3
            class="text-lg sm:text-xl font-semibold text-gray-950 dark:text-white"
          >
            Mi Perfil ‍
          </h3>
          <p>
            Soy Desarrollador de Software con titulación en Técnico Superior en
            Desarrollo de Aplicaciones Web, con experiencia en tecnologías como
            Java, JavaScript, PHP, SQL, y frameworks como React, Laravel y
            Spring Boot.
          </p>
          <p>
            Actualmente, me estoy enfocando en el lenguaje de
            <span class="text-[#6DB33F]">Java</span> en el desarrollo de microservicios
            con
            <span class="text-[#6DB33F]">Spring Boot</span>. Mi objetivo
            profesional es afrontar nuevos retos y seguir creciendo como
            desarrollador Back End.
          </p>
        </div>
        <div class="flex flex-col gap-2">
          <h3
            class="text-lg sm:text-xl font-semibold text-gray-950 dark:text-white"
          >
            ¿Quieres saber un poco más?
          </h3>
          <a
            href="/docs/cv-victorino-esp.pdf"
            role="button"
            aria-label="Descargar CV"
            download
            class="px-4 py-2 rounded-md bg-blue-600 hover:bg-blue-700 dark:hover:bg-blue-800 dark:bg-blue-700 focus:ring-4 focus:outline-hidden focus:ring-blue-200 dark:focus:ring-blue-950 text-white w-fit font-semibold"
            >Descargar CV</a
          >
        </div>
      </Card>
      <Card className="p-8">
        <ol class="relative border-s border-gray-300 dark:border-neutral-800">
          {
            EXPERIENCES.map((experience) => (
              <TimelineItem
                title={experience.company}
                description={experience.description}
                date={experience.dates}
                position={experience.position}
              >
                <div
                  slot="icon"
                  class="size-full p-1"
                  set:html={experience.svgIcon}
                />
              </TimelineItem>
            ))
          }
        </ol>
      </Card>
    </article>
  </section>
  <section id="projects" class="flex flex-col">
    <h2
      class="text-2xl md:text-4xl font-bold text-gray-950 dark:text-white mb-8"
    >
      Proyectos Recientes
    </h2>
    <div class="p-4 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      {
        PROJECTS.filter((__, i) => i < 3).map((project) => (
          <Project project={project} />
        ))
      }
    </div>
    <div class="mt-6 flex justify-center pb-20">
      <a
        role="button"
        href="/projects"
        class="font-semibold transition-colors px-4 py-2 text-base rounded-3xl bg-blue-600 hover:bg-transparent hover:border hover:border-blue-600 hover:text-blue-600 dark:bg-blue-800 text-white dark:hover:bg-transparent dark:hover:border-blue-800 dark:hover:text-blue-800 duration-300"
        >Todos mis proyectos</a
      >
    </div>
  </section>
</Layout>

